<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/pagestyles.css">
    <link rel="stylesheet" href="styles/footerstyles.css">
</head>

    <footer>
        <p>
            ~Code Implemented, Designed & Updated by Kyle Munsami.~
            <br>
            ~Copyright © <%= new Date().getFullYear()%>~
        </p>
    </footer>

</html>
