<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="styles/pagestyles.css">
    <link rel="stylesheet" href="styles/headerstyles.css">
    
   
</head>
    <body>
        <header>
            <a href="/" class="logo">~Spicy❤️‍🔥Habibi~</a>
            
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>
          
            <nav class="navbar">
                <ul>
                    <li><a href="/">~Home~</a></li>
                    <li><a href="/newblog">~New Blog~</a></li>
                    <li><a href="#">~Categories~</a>
                        <ul>
                            <li><a href="/cars">~Cars~</a></li>
                            <li><a href="/church">~Church~</a></li>
                            <li><a href="/code">~Code~</a></li>
                            <li><a href="/food">~Food~</a></li>
                            <li><a href="/gym">~Gym~</a></li>
                            <li><a href="/music">~Music~</a></li>
                            <li><a href="/motivational">~Motivational~</a></li>
                            <li><a href="/photography">~Photography~</a></li>
                            <li><a href="/travel">~Travel~</a></li>
                            <li><a href="/other">~Other~</a></li>
              
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>

